<article>
    <img class="listing-photo" [src]="housingLocation?.photo">
    <section class="listing-description">
        <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
        <p class="listing-description">{{ housingLocation?.city }},
            {{ housingLocation?.state }}
    </section>
    <section class="listing-description">
        <h2 class="section-heading">About this housing location:</h2>
        <ul>
            <li>
                Units available: {{ housingLocation?.availableUnits }}
            </li>
            <li>
                Does this location have wifi: {{ housingLocation?.wifi }}
            </li>
            <li>
                Does this location have laundry: {{ housingLocation?.laundry }}
            </li>
        </ul>
    </section>
    <section class="listing-apply">
        <h2 class="section-heading">Enquire now for this property!</h2>
            
        <form [formGroup]="applyForm" (submit)="submitApplication()">
            <p><label for="first-name">First Name</label></p>
            <input id="first-name" required type="text" placeholder="first name..." formControlName="firstName">
            
            <p><label for="last-name">Last Name</label></p>
            <input id="last-name" type="text" placeholder="last name..." formControlName="lastName">
            
            <p><label for="email">Email</label></p>
            <input id="email" type="text" placeholder="name@example.com" formControlName="email">
            
            <p>
            <button type="submit" class="primary">Apply now</button>
            </p>
        </form>
    </section>

</article>